type       = internal
depends-on = early-fs-local.target
depends-on = early-console.target
depends-on = early-getty
depends-on = net-lo
depends-on = hostname
waits-for  = swap
waits-for  = random-seed
waits-for  = sysctl
